@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0a192f;
  --secondary-color: #FB8B24;
}

body {
  overflow-x: hidden;
  background-color: white ;
}

.dark body {
  background-color: var(--primary-color);
}

/* start home section */
.content-blk {
  background-image: url("./assets/background/bg.png");
  background-position: 100% 50px;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 1;
}

.profile-card .img-container {
  position: relative;
  height: 250px;
}

.profile-card .img-container::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: -8px;
  border: 4px solid #FB8B24;
}

.profile-card .img-container::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./assets/profile/profile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
